.form {
  display: grid;
  grid-template-columns: 433px 431px;
  column-gap: 74px;
  grid-template-rows: repeat(5, max-content);
  row-gap: 69px;
  margin-bottom: 69px;
}

@media screen and (max-width: 998px) {
  .form {
    max-width: 616px;
    grid-template-columns: 1fr;
    grid-template-rows: 289px 295px 306px 549px 289px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 659.88px) {
  .form {
    max-width: 320px;
    grid-template-columns: 1fr;
    grid-template-rows: 342px 604px 287px 340px 279px;
    margin: 0 auto;
    row-gap: 0;
    justify-content: center;
  }
}

/* FORM_ITEM */
.form__item {
  grid-column: 1/-1;
  max-width: 100%;
  margin: -15px 0 0 0;
}

@media screen and (max-width: 998px) {
  .form__item {
    max-width: 616px;
    margin: 0 auto;
  }
}

.form__item_name {
  grid-row: 1/2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (max-width: 998px) {
  .form__item_name {
    grid-column: 1/-1;
    grid-row: 1/3;
    display: grid;
  }
}

.form__item_contacts {
  grid-row: 2/3;
}

@media screen and (max-width: 998px) {
  .form__item_contacts {
    grid-row: 3/4;
  }
}

@media screen and (max-width: 659.88px) {
  .form__item_contacts {
    max-width: 276px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .form__item_type_contacts-item {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 59px;
    gap: 8px;
  }
}

.form__item_achievements {
  grid-row: 3/4;
}

@media screen and (max-width: 998px) {
  .form__item_achievements {
    grid-row: 4/5;
    width: 616px;
  }
}

@media screen and (max-width: 659.88px) {
  .form__item_achievements {
    grid-row: 2/3;
    max-width: 320px;
    background-color: #f2f2f2;
  }
}

.form__item_feedback {
  grid-row: 4/5;
}

@media screen and (max-width: 998px) {
  .form__item_feedback {
    grid-row: 5/6;
  }
}

.form__item_type_contacts {
  display: grid;
  gap: 12px;
}

/* form-LEGEND */

.form__legend {
  font-size: 14px;
  line-height: 2.142;
  color: var(--accent-pink);
  text-transform: uppercase;
  text-align: center;
  padding: 0 25px;
}

@media screen and (max-width: 659.88px) {
  .form__legend_hide {
    display: none;
  }

  .form__legend_achievements {
    padding-top: 42px;
  }

  .form__legend {
    padding: 36px 50px 36px;
    margin: 0;
    line-height: 1.285;
  }
}

/* form-FIELDSET */
.form__fieldset {
  max-width: 100%;
  border: 2px solid #e5e5e5;
  border-radius: 5px;
  padding: 0;
}

@media screen and (max-width: 998px) {
  .form__fieldset {
    max-width: 616px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 659.88px) {
  .form__fieldset {
    border: none;
  }
}

.form__fieldset_type_name {
  max-width: 616px;
  display: flex;
  flex-flow: column wrap;
  gap: 55px;
  border: none;
}

@media screen and (max-width: 998px) {
  .form__fieldset_type_name {
    max-width: 616px;
    grid-column: 1/-1;
    grid-row: 1/2;
    margin: 0 auto;
  }
}

@media screen and (max-width: 659.88px) {
  .form__fieldset_type_name {
    max-width: 276px;
    gap: 20px;
  }
}

.form__fieldset_type_app {
  margin: -15px 0 0 0;
}

@media screen and (max-width: 998px) {
  .form__fieldset_type_app {
    grid-column: 1/-1;
    grid-row: 2/3;
    margin: 0 auto;
  }
}

@media screen and (max-width: 659.88px) {
  .form__fieldset_type_app {
    max-width: 276px;
    grid-row: 4/5;
    background-color: #f2f2f2;
  }
}

.form__fieldset_type_feedback {
  padding: 39px 60px 45px;
}

@media screen and (max-width: 659.88px) {
  .form__fieldset_type_feedback {
    padding: 0;
  }
}
/* form-LABEL */

.form__label_type_name {
  font-size: 14px;
  line-height: 1.643;
  color: var(--accent-pink);
  text-transform: uppercase;
  margin: 0 20px 0 0;
}

@media screen and (max-width: 659.88px) {
  .form__label_type_name {
    margin: 0 0 0 23px;
  }
}

.form__label_type_app {
  position: relative;
  margin: 0 0 0 133px;
  cursor: pointer;
}

@media screen and (max-width: 659.88px) {
  .form__label_type_app {
    margin: 0 0 0 90px;
  }
}

.form__label_type_app::before {
  content: "";
  position: absolute;
  top: -6px;
  left: -59px;
  width: 37px;
  height: 37px;
  background-color: transparent;
  border-radius: 50%;
  border: 3px solid #d7d7d7;
  transition: 0.4s;
  background-color: var(--basic-white);
}

.form__label_type_contacts {
  font-size: 14px;
  line-height: 2.142;
  color: var(--accent-pink);
  text-transform: uppercase;
  margin: 0 0 0 20px;
}

.form__label_type_achievements {
  margin: 0 0 0 22px;
}
/* form-INPUT */

.form__input_container {
  width: 433px;
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: center;
}

@media screen and (max-width: 998px) {
  .form__input_container {
    width: 616px;
  }
}

@media screen and (max-width: 659.88px) {
  .form__input_container {
    width: 276px;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 4px;
  }
}

.form__input {
  padding: 23px 0 23px 20px;
  border: 2px solid #e5e5e5;
  border-radius: 5px;
  max-width: 100%;
  max-height: 59px;
  outline: none;
}

.form__input:hover {
  border: 2px solid var(--accent-black);
}

.form__input:active {
  border: 2px solid var(--accent-pink);
}

.form__input:focus {
  border: 2px solid var(--accent-pink);
  border-radius: 5px;
}

.form__input_type_app:hover + .form__label_type_app::before {
  border: 3px solid var(--accent-black);
}

.form__input_type_app:active + .form__label_type_app::before {
  border: 3px solid var(--accent-pink);
}

.form__input_type_app:checked + .form__label_type_app::after {
  content: "";
  position: absolute;
  left: -48px;
  top: 6px;
  width: 15px;
  height: 15px;
  background-color: var(--accent-pink);
  border-radius: 50%;
}

.form__input_type_contacts {
  width: 371px;
  position: relative;
}

@media screen and (max-width: 998px) {
  .form__input_type_contacts {
    width: 496px;
    margin-bottom: 8px;
  }
}

@media screen and (max-width: 659.88px) {
  .form__input_type_contacts {
    width: 276px;
    margin-bottom: 0;
    grid-row: 2/2;
  }
}

/* FILTER */
.form__label_type_achievements {
  display: block;
  position: relative;
  cursor: pointer;
  user-select: none;
}

.form__input_type_achievements + .form__label_type_achievements::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -57px;
  width: 35px;
  height: 35px;
  border: 2px solid #e5e5e5;
  transition: 0.3s;
  background-color: var(--basic-white);
}

.form__input_type_achievements:checked + .form__label_type_achievements::after {
  content: "";
  position: absolute;
  top: 7px;
  left: -50px;
  width: 22px;
  height: 16px;
  background-image: url(../../img/checked.svg);
}

.form__input_type_achievements:hover + .form__label_type_achievements::before {
  border: 2px solid var(--accent-black);
}

.form__input_type_achievements:active + .form__label_type_achievements::before {
  border: 2px solid var(--accent-pink);
}

.form__input_type_achievements:focus + .form__label_type_achievements::before {
  border: 2px solid var(--accent-pink);
}

/* CONTAINERS */

.form__label_type_app-container {
  padding: 49px 0 54px 0;
  width: 431px;
  display: flex;
  flex-flow: column wrap;
  gap: 39px;
  list-style: none;
}

@media screen and (max-width: 998px) {
  .form__label_type_app-container {
    width: 616px;
    display: flex;
    flex-flow: column wrap;
    gap: 39px;
    list-style: none;
  }
}

@media screen and (max-width: 659.88px) {
  .form__label_type_app-container {
    padding: 0;
    width: 320px;
  }
}

.form__input_type_contacts-container {
  padding: 28px 60px 12px;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 74px;
  list-style: none;
}

@media screen and (max-width: 998px) {
  .form__input_type_contacts-container {
    grid-template-columns: 1fr;
    gap: 41px;
  }
}

@media screen and (max-width: 659.88px) {
  .form__input_type_contacts-container {
    gap: 20px;
    padding: 0;
  }
}

form__item_type_contacts-item {
  display: flex;
}

.form__input_type_achievements-container {
  padding: 49px 60px 57px;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 57px;
  row-gap: 47px;
  list-style: none;
}

@media screen and (max-width: 998px) {
  .form__input_type_achievements-container {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 659.88px) {
  .form__input_type_achievements-container {
    padding: 0 0 0 57px;
  }
}

/* FORM-TEXTAREA */
.form__textarea {
  width: 816px;
  min-height: 124px;
  border: 2px solid #e5e5e5;
  border-radius: 5px;
  outline: none;
  resize: none;
  overflow: auto;
  padding: 22px 0 0 20px;
}

.form__textarea:focus {
  border: 2px solid var(--accent-pink);
}

@media screen and (max-width: 998px) {
  .form__textarea {
    width: 496px;
    min-height: 189px;
    border: 2px solid #e5e5e5;
    border-radius: 5px;
    outline: none;
    resize: none;
    overflow: auto;
  }
}

@media screen and (max-width: 659.88px) {
  .form__textarea {
    max-width: 276px;
    min-height: 197px;
    border: 2px solid #e5e5e5;
    border-radius: 5px;
    outline: none;
    resize: none;
    overflow: auto;
  }
}

@media screen and (max-width: 659.88px) {
  .form__item_app {
    background-color: #f2f2f2;
  }
}

@media screen and (max-width: 659.88px) {
  .legend-feedback {
    padding: 42px 0 22px;
  }
}
