.registration {
  max-width: 936px;
  margin: 0 auto;
}

@media screen and (max-width: 998px) {
  .registration {
    max-width: 616px;
  }
}

.registration__description {
  max-width: 81%;
  text-align: center;
  margin: 100px auto 84px;
}

.registration__description_hide {
}

@media screen and (max-width: 659.88px) {
  .registration__description {
    max-width: 276px;
    margin: 54px auto 54px;
    font-size: 14px;
  }

  .registration__description_hide {
    display: none;
  }
}

.registration__button-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  grid-column: 1/-1;
  align-items: center;
}

@media screen and (max-width: 659.88px) {
  .registration__button-container {
    justify-content: center;
    gap: 34px;
    margin-top: 52px;
  }
}

.registration__button {
  font-weight: 700;
  color: var(--basic-white);
  text-align: center;
  text-transform: uppercase;
  background-color: var(--button-rest);
  padding: 16px 55px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  height: 59px;
  transition: 0.3s;
}

.registration__button:hover {
  background-color: var(--button-hover);
}

.registration__button:active {
  background-color: var(--button-hover);
  color: rgba(255, 255, 255, 0.3);
}

.registration__button:disabled {
  background-color: #e5e5e5;
}

.registration__input-description {
  font-size: 14px;
  line-height: 2.142;
  color: var(--basic-black);
  text-transform: uppercase;
}

.registration__input-description_hidden {
  font-size: 14px;
  line-height: 2.142;
  color: var(--basic-black);
  text-transform: uppercase;
}

.registration__input-description_accent {
  color: var(--accent-pink);
}

@media screen and (max-width: 998px) {
  .registration__input-description_hidden {
    display: none;
  }
}
