.header__logo {
  height: min-content;
  cursor: pointer;
}

.header__logo:hover path {
  fill: var(--accent-pink);
}

.header__logo:active path {
  fill: rgba(255 255 255 / 0.3);
}

@media screen and (max-width: 991.98px) {
  .header__logo_desktop {
    display: none;
  }
}

.header__logo_tablet {
  display: none;
}

@media screen and (max-width: 778px) {
  .header__logo {
    display: none;
  }
}

@media screen and (max-width: 991.98px) {
  .header__logo_tablet {
    display: inline-block;
    background-image: url(../../../img/logo-PINK/logo-tablet.svg);
    background-repeat: no-repeat;
    width: 150px;
    height: 40px;
  }
}

@media screen and (max-width: 420px) {
  .header__logo_tablet {
    background-image: url(../../../img/logo-PINK/logo-mobile.svg);
    width: 74px;
    height: 23px;
  }
}
