.footer__wrapper {
  max-width: 940px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 991.98px) {
  .footer__wrapper {
    max-width: 620px;
  }
}

@media screen and (max-width: 659.88px) {
  .footer__wrapper {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 40px 68px;
  }
}
