@font-face {
  font-family: "Opensans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("opensans/opensans-400.woff2") format("woff2"),
    url("opensans/opensans-400.woff") format("woff");
}

@font-face {
  font-family: "Opensans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("opensans/opensansbold-700.woff2") format("woff2"),
    url("opensans/opensansbold-700.woff") format("woff");
}

@font-face {
  font-family: "Opensans";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("opensans/opensanslight-300.woff2") format("woff2"),
    url("opensans/opensanslight-300.woff") format("woff");
}
