.main-nav__list {
  position: relative;
}

@media screen and (max-width: 778px) {
  .main-nav {
    display: none;
  }
}

.main-nav__burger {
  display: none;
}

@media screen and (max-width: 778px) {
  .main-nav__burger {
    display: inline-block;
    width: 50px;
    height: 24px;
    position: absolute;
    top: 43px;
    right: 20px;
    cursor: pointer;
  }

  .main-nav__burger:hover {
    fill: var(--accent-pink);
  }

  .main-nav__burger:active {
    fill: rgba(210 40 86 / 0.3);
  }
}

@media screen and (max-width: 360px) {
  .main-nav__burger {
    top: 21px;
  }
}
