.advantages {
  border: 1px solid red;
  padding: 0 15px;
  background-color: #f2f2f2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 71px;
}

.advantages__column-info {
  display: flex;
  flex-flow: column wrap;
  gap: 37px;
}

.advantages__title {
  font-family: "Opensans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 1;
  padding: 0;
  margin: 0;
}

.advantages__subtitle {
  font-family: "Opensans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.666;
  padding: 0;
  margin: 0;
  color: var(--accent-black);
}

.advantages__accent {
  font-family: "Opensans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.666;
  padding: 10px 0 0 0;
  margin: 0;
  color: var(--accent-pink);
  text-decoration: underline;
  cursor: pointer;
  transition: 0.3s;
}

.advantages__accent:hover {
  color: var(--accent-black);
}

.advantages__accent:active {
  color: var(--accent-black);
  opacity: 0.3;
}

.advantages__icon {
  cursor: pointer;
}

.advantages__icon:hover .advantages__icon_clock {
  fill: var(--accent-black);
}
