/* WRAPPER */
.photo-editor__wrapper {
  max-width: 940px;
  margin: 0 auto;
}

@media screen and (max-width: 659.98px) {
  .photo-editor__wrapper {
    width: 320px;
  }
}

/* TITLE */
.photo-editor__title {
  font-size: 18px;
  line-height: 1.666;
  text-align: center;
  color: var(--accent-black);
  margin: 0 auto 75px;
}

@media screen and (max-width: 659.98px) {
  .photo-editor__title {
    width: 280px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 2.142;
    margin-bottom: 52px;
  }
}

/* CONTAINER-EDITOR */
.photo-editor__container {
  background-color: #f2f2f2;
  padding: 57px 60px;
  display: grid;
  grid-template-columns: 300px 1fr;
  column-gap: 90px;
}

@media screen and (max-width: 991.98px) {
  .photo-editor__container {
    grid-template-columns: 1fr 255px;
    margin: 0 auto;
    max-width: 680px;
    padding: 57px 20px 54px;
    column-gap: 48px;
  }
}

@media screen and (max-width: 659.98px) {
  .photo-editor__container {
    grid-template-columns: 280px;
    grid-template-rows: 374px 1fr;
    margin: 0 auto;
    max-width: 320px;
    padding: 20px 20px 41px;
    row-gap: 42px;
  }
}

/* IMAGE */
.photo-editor__image {
  width: 300px;
  height: 400px;
  background-image: url(../../img/photo-editor.jpg);
}

@media screen and (max-width: 659.98px) {
  .photo-editor__image {
    width: 280px;
    height: 374px;
  }
}

/* RANGE-CONTROLS */
.photo-editor__range {
  display: grid;
  grid-template-rows: repeat(3, 68px);
  margin-bottom: 138px;
}

@media screen and (max-width: 991.98px) {
  .photo-editor__range {
    margin-bottom: 67px;
  }
}

@media screen and (max-width: 659.98px) {
  .photo-editor__range {
    display: none;
  }
}

/* button-container */
.photo-editor__button-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 44px;
}

@media screen and (max-width: 991.98px) {
  .photo-editor__button-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 24px;
  }
}

@media screen and (max-width: 659.98px) {
  .photo-editor__button-container {
    row-gap: 12px;
  }
}

/* button */
.photo-editor__button {
  padding: 17px 42px;
  width: 183px;
  font-size: 18px;
  line-height: 1;
  color: var(--accent-pink);
  border: 3px solid var(--accent-pink);
}

.photo-editor__button:hover {
  color: var(--basic-white);
  background-color: var(--accent-pink);
}

.photo-editor__button:active {
  color: rgba(255 255 255 / 30%);
  background-color: var(--accent-pink);
}

@media screen and (max-width: 991.98px) {
  .photo-editor__button {
    width: 254px;
    height: 55px;
  }
}

@media screen and (max-width: 659.98px) {
  .photo-editor__button {
    width: 280px;
  }
}

/* button_cancel */
.photo-editor__button_cancel {
  color: rgba(40 54 69 / 0.1);
  border: 3px solid rgba(40 54 69 / 0.1);
}

.photo-editor__button_cancel:hover {
  color: rgba(40 54 69 / 0.3);
  border: 3px solid rgba(40 54 69 / 0.3);
}

.photo-editor__button_cancel:active {
  color: rgba(255 255 255 / 0.3);
  background-color: rgba(40 54 69 / 0.3);
  border: none;
}

@media screen and (max-width: 991.98px) {
  .photo-editor__button_cancel {
    width: 254px;
    height: 55px;
  }
}

@media screen and (max-width: 659.98px) {
  .photo-editor__button_cancel {
    width: 280px;
  }
}

/* Вкладка редактирования */
/* edit-tab */
.edit-tab {
  display: grid;
  grid-template-columns: 44px 1fr;
  column-gap: 48px;
  align-items: center;
  justify-items: center;
  border-bottom: 1px solid rgba(40 54 69 / 0.1);
  width: 430px;
}

@media screen and (max-width: 991.98px) {
  .edit-tab {
    grid-template-columns: 22px 1fr;
    column-gap: 28px;
    width: 252px;
  }
}

@media screen and (max-width: 659.98px) {
  .edit-tab__input_range {
    width: 240px;
  }
}

/* Ползунок редактирования */
/* edit-tab__input_range */
.edit-tab__input_range {
  width: 288px;
  height: 2px;
  background-color: #283645;
  outline: none;
  -webkit-appearance: none;
}

@media screen and (max-width: 991.98px) {
  .edit-tab__input_range {
    width: 202px;
  }
}

.edit-tab__input_range::-webkit-slider-thumb {
  width: 10px;
  -webkit-appearance: none;
  height: 10px;
  border-radius: 50%;
  background: white;
  box-shadow: 0 0 0 2px #d22856;
  cursor: pointer;
}

.edit-tab__input_range::-webkit-slider-thumb:hover,
.edit-tab__input_range::-webkit-slider-thumb:active {
  background: #d22856;
}

/* иконка редактирования */
/* edit-tab__range-icon */
.edit-tab__range-icon {
  width: 44px;
  height: 44px;
  cursor: pointer;
}

.edit-tab__range-icon_small {
  width: 32px;
  height: 32px;
}

@media screen and (max-width: 991.98px) and (min-width: 659.97px) {
  .edit-tab__range-icon {
    width: 22px;
    height: 22px;
    justify-self: center;
  }

  .edit-tab__range-icon_small {
    width: 16px;
    height: 16px;
  }
}

/* Редактор на мобильном разрешении */
.photo-editor_mobile {
  display: none;
}

@media screen and (max-width: 659.98px) {
  .photo-editor_mobile {
    display: grid;
    grid-template-rows: 44px min-content;
    row-gap: 24px;
    border-bottom: 1px solid rgba(40 54 69 / 0.1);
    width: 320px;
    margin-left: -20px;
    margin-bottom: 38px;
    padding-bottom: 30px;
  }

  .photo-editor_mobile_icons {
    display: grid;
    grid-template-columns: repeat(3, 44px);
    column-gap: 35px;
    align-items: center;
    justify-content: center;
  }

  .photo-editor_mobile_input {
    width: 202px;
    margin: 0 auto;
  }
}
